header{
            background-color: #8cc0de;
            color: #FFFFFF;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }
        article{
            display: flex;
        }
        main{
            background-color:#eca9f5;
            color:#711b7d;
            margin: 0 auto;
            padding: 16px;
        }
        img{
            width: 90px;
            height: 90px;
        }
        .artigo-autor{
            font-weight: bold;
        }
        .direitos{
            text-aling: center;
            color: darkblue
        }
